body {
  font-family: Arial, sans-serif;
}
aside .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

aside {
  z-index: 9999;
  max-width: 50px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
.top-section {
  display: flex;
  flex-direction: column;
}

.bottom-section {
  margin-top: auto;
  padding-bottom: 30px;
}

.logo {
  display: grid;
  place-content: center;
  padding: 8px;
}

.technique-stuff, .admin-exit {
  display: grid;
  width: 50px;
  padding-top: 20px;
  grid-template-rows: 25px 25px;
  grid-gap: 10px;
}

.technique, .stuff, .admin, .exit {
  padding-top: 3px;
  padding-left: 10px;
  transition: background-color 0.2s ease-in;
}

.technique:hover, .stuff:hover, .admin:hover, .exit:hover {
  border-left: 3px solid #33AAFF;
  background-color: #E5F4FF;
}

.technique:active, .stuff:active, .technique:active svg path, .stuff:active svg path{
  background: linear-gradient(#2D49D2, #2D47D2);
  border-left: 3px solid;
  border-image: linear-gradient(to bottom, #33A9FF, #2D47D2) 1;
  fill: white;
}

