
header .container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 10px;
  padding: 10px 10px 0 0;
}

.navigation {
  display: flex;
  gap: 15px;
}

.navigation a:hover svg circle:first-child {
  fill: #33AAFF;
}

main {
  margin-top: 100px;
  margin-left: 50px;
}
.map-container {
  margin: 0 auto;
  width: 60vw;
  height: 80vh;
}


.message-popup, .devices-popup {
  z-index: -9999;
  position: fixed;
  top: 50px;
  right: 20px;
  width: 490px;
  height: 85vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  border-radius: 10px;

  .message-header, .devices-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E4F5;


    .message-title, .devices-title {
      font-family: "Roboto Medium", sans-serif;
      font-size: 15px;
      padding: 0 0 10px 20px;

      .message-count, .devices-count {
        font-family: "Roboto Medium", sans-serif;
        font-size: 16px;
        color: white;
        background-color: #FC6C6C;
        padding: 4px 10px;
        border-radius: 15px;
      }
    }

    .message-exit, .devices-exit {
      padding-right: 20px;
    }
  }

  .message-info {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 50px 280px 120px;
    grid-gap: 10px;
    border-bottom: 1px solid #E0E2EB;

    .message-image-tab {
      display: flex;
      flex-direction: column;
      width: 50px;

      .message-tab {
        background-color: #E5F4FF;
        text-align: center;
        font-family: "Roboto Medium", sans-serif;
        color: #33374D;
      }
    }

    .message-name-chat {

      .message-name {
        font-family: "Roboto Medium", sans-serif;
        font-size: 16px;
      }

      .message-chat {
        font-size: 15px;
        padding-top: 10px;
      }
    }

    .message-date {
      color: #A3A8C2;
      font-size: 14px;
    }
  }
}

.devices-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;

  .devices-image-name {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.devices-info:nth-child(1),
.devices-info:nth-child(4) {
  box-shadow: 0px 0.5px 2px 0px #60617029;
}

.devices-info:nth-child(2) {
  background-color: #F0F9FF;
}

.devices-info:nth-child(3) {
  background-color: #E6E9FA;
}

svg.active-message circle:first-child, svg.active-devices circle:first-child {
  fill: #2439A8;
}

.navigation a:hover svg circle:first-child {
  fill: #33AAFF;
}

.navigation a.no-hover:hover svg circle:first-child {
  fill: #2439A8;
}
